.content-in-page {
  position: absolute;
  top: 80px;
  left: 10%;
  display: flex;
  height: 80%;
  width: 85%;
  background-color: magenta;
  justify-content: flex-start;
  flex-direction: column;
  align-items: stretch;

  font-size: 2vw;
}

.about-us-order {
  order: 2;
}

.contact-order {
  order: 3;
}

.image-order {
  order: 1;
}

div .image-about-us {
  width: 100%;
  height: auto;
}

.about-us {
  height: 20%;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 29px;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
}

.get-in-contact {
  height: 40%;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 29px;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
  font-size: 1.5vw;
  padding-bottom: 20px;
}

.email-info {
  font-size: 1vw;
}

.text-in-image {
  color: #fff;
  position: absolute;
  top: 30%;
  left: 16px;
}