/*only mobile*/

/*.menu-container .menu-bars {
  background: #1d1b31;
  color: #FFF;
  z-index: 1000;
  visibility: hidden;
}

.menu-container .menu-bars:hover {
  cursor: pointer;
}*/

.menu-bars {
  background-color: black;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  position: fixed;
  width: 0;
  z-index: 9999;
}

#menu-btn:checked ~ .menu-bars {
  background-color: magenta;
  width: 100%;
  z-index: 9999;
  height: 100%;
}

.menu-bars ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: black;
}

.menu-container .menu-bars .mobile-menu-list {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/*-----------------------------------*/

.menu-container .menu-bars .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.menu-container .menu-bars .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: all .2s ease-out;
  width: 18px;
}

.menu-container .menu-bars .menu-icon .navicon:before,
.menu-container .menu-bars .menu-icon .navicon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.menu-container .menu-bars .menu-icon .navicon:before {
  top: 5px;
}

.menu-container .menu-bars .menu-icon .navicon:after {
  top: -5px;
}
