* {
  box-sizing: border-box;
  font-family: Source Sans Pro, sans-serif;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* For desktop: */
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

/* For mobile phones: */


@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  div.sidebar {
    visibility: visible;

  }


  body .header .menu-bars {
    visibility: visible;
    /* position: absolute; */
    left: 2vw;
  }

  body .header .header-board {
    /* position: absolute; */
    right: 2vw;
  }

  body .footer {
    font-size: 1vw;
    justify-content: center;
  }

  body .footer .bold-footer {
    display: grid;
    margin-right: 0;
    justify-content: end;
  }

  body .horizontal-line {
    width: 10vw;
    display: flex;
    justify-self: center;
  }
}

@media only screen and (max-width: 768px) {
  body .header {
    justify-content: center;
  }

  div.title {
    margin-left: 0;
  }
}