<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About us</title>
  <link rel="website icon" type="png" href="../static/images/logo.png">

  <script src="https://kit.fontawesome.com/0668abd750.js" crossorigin="anonymous"></script>
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

  <link rel="stylesheet" href="../static/css/responsive-page.css">
  <link rel="stylesheet" href="../static/css/footer.css">
  <link rel="stylesheet" href="../static/css/header.css">
  <link rel="stylesheet" href="../static/css/sidebar.css">
  <link rel="stylesheet" href="../static/css/responsive-text-box.css">
  <link rel="stylesheet" href="../static/css/summary.css">
  <link rel="stylesheet" href="../static/css/content-in-page.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
  </script>

</head>

<body>
  <div class="d-flex flex-column justify-content-center w-100 h-100">

    <div class="header">
      <div class="title">
        <div class="menu-bars">
          <i class='fa-solid fa-bars' id="btn"></i>
        </div>
        <a href="home"><img src="../static/images/logo.png" class="logo"></a>
        <a href="home" class="link-logo">
          <p>International <b>Terrorism</b> Database</p>
        </a>
      </div>
      <div class="header-board">
        <nav>
          <ul>
            <li><a href="login"><button class="header-button header-button-left">Login</button></a>
            </li>
            <li>
                <a href="register">
                    <button class="header-button header-button-right">Sign up</button>
                </a>
            </li>
        </ul>
        </nav>
      </div>
    </div>


    <div class="sidebar">

      <ul class="nav-list">
        <li>
          <a href="search-page">
            <i class="fa-solid fa-magnifying-glass"></i>
            <span class="links_name">Search</span>
          </a>
          <span class="tooltip">Search</span>
        </li>
        <li>
          <a href="country">
            <i class="fa-solid fa-flag"></i>
            <span class="links_name">Country</span>
          </a>
          <span class="tooltip">Country</span>
        </li>
        <li>
          <a href="region">
            <i class="fa-solid fa-earth-americas"></i>
            <span class="links_name">Region</span>
          </a>
          <span class="tooltip">Region</span>
        </li>
        <li>
          <a href="method-of-attack">
            <i class='fa-solid fa-solid fa-bomb'></i>
            <span class="links_name">Method of Attack</span>
          </a>
          <span class="tooltip">Method of Attack</span>
        </li>
        <li>
          <a href="#">
            <i class='fa-solid fa-bullseye'></i>
            <span class="links_name">Target</span>
          </a>
          <span class="tooltip">Target</span>
        </li>
        <li>
          <a href="#">
            <i class='fa-solid fa-people-group'></i>
            <span class="links_name">Terrorist Groups</span>
          </a>
          <span class="tooltip">Terrorist Groups</span>
        </li>
        <li>
          <a href="#">
            <i class='fa-solid fa-gun'></i>
            <span class="links_name">Weapons</span>
          </a>
          <span class="tooltip">Weapons</span>
        </li>
        <li>
          <a href="#">
            <i class='fa-solid fa-cross'></i>
            <span class="links_name">Deaths</span>
          </a>
          <span class="tooltip">Deaths</span>
        </li>
        <li>
          <a href="#">
            <i class='fa-solid fa-cross'></i>
            <span class="links_name">Deaths (U.S.)</span>
          </a>
          <span class="tooltip">Deaths (U.S.)</span>
        </li>
      </ul>
    </div>

    <script src="../static/js/sidebar.js"></script>


    <div class="image-about-us">
      <picture>
        <source media="(max-width: 768px)" srcset="../static/images/globe-image-mobile.jpg" class="picture">
        <img src="../static/images/globe-image.jpg" class="picture">
      </picture>
      <div class="text-in-image">About this<b><br>International<br>Terrorism<br>Database</b></div>
    </div>

    <div class="content-in-page">
      <div class="just-text">
        <!-- the code for the content begins here -->
        <div class="about-us about-us-order">
          <p class="title-info-about-us">Some info about the team who created this website.</p>
          <span class="text text-info-about-us"></span>
        </div>

        <div class="get-in-contact contact-order">
          <p class="title-get-in-contact">Get in touch<br></p>
          <p class="email-info">
            Contact us at our email adress, <i><b>bddsolutions.tw@gmail.com</b></i>, for any new content we add. You can
            also subscribe for our newsletter by signing up below
            with your email address.<br>
          <div class="email-position-in-page">
            <input name="email" class="email" id="email-input" type="text" placeholder="Your email address">
            <input name="submit-newsletter" id="submit-newsletter" type="submit" value="Sign up">
          </div>
          </p>
        </div>
        
        <!-- the code for the content ends here -->
      </div>
    </div>

    <div class="footer">
      <div class="bold-footer">
        <b>About us</b>
        <hr class="horizontal-line">
        <a href="about-us">
          <p class="other-info-footer"><i>Get in touch</i></p>
        </a>
      </div>
      <div class="bold-footer">
        <b>Terms</b>
        <hr class="horizontal-line">
        <a href="#">
          <p class="other-info-footer"><i>Terms & Conditions</i></p>
        </a>
        <a href="#">
          <p class="other-info-footer"><i>Privacy Policy</i></p>
        </a>
      </div>
      <div class="icons">
        <div><img src="../static/images/4logos.png" alt="social-media-logos" class="social-media-logos"></div>
      </div>
    </div>

  </div>
  <script src="../static/js/about-us.js"></script>
</body>

</html>