<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="website icon" type="png" href="../static/images/logo.png">

    <script src="https://kit.fontawesome.com/0668abd750.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="../static/css/responsive-page.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/sidebar.css">
    <link rel="stylesheet" href="../static/css/responsive-text-box.css">
    <link rel="stylesheet" href="../static/css/canvas.css">
    <link rel="stylesheet" href="../static/css/content-in-page.css">
    <link rel="stylesheet" href="../static/css/worldmap.css">
    <link rel="stylesheet" href="../static/css/register.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="../static/js/register.js"></script>

</head>


<body>
<div class="d-flex flex-column justify-content-center w-100 h-100">

    <div class="header">

        <div class="title">
            <div class="menu-bars">
                <i class='fa-solid fa-bars' id="btn"></i>
            </div>
            <a href="home">
                <img src="../static/images/logo.png" class="logo">
            </a>
            <a href="home" class="link-logo">
                <p>International <b>Terrorism</b> Database</p>
            </a>
        </div>


        <!--        <div class="header-board">-->
        <!--            <nav>-->
        <!--                <ul>-->
        <!--                    <li>-->
        <!--                        <button class="header-button header-button-left">Login</button>-->
        <!--                    </li>-->
        <!--                    <li>-->
        <!--                        <button class="header-button header-button-right">Sign up</button>-->
        <!--                    </li>-->
        <!--                </ul>-->
        <!--            </nav>-->
        <!--        </div>-->
    </div>


    <div class="sidebar">
        <ul class="nav-list">
            <li>
                <a href="search-page">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <span class="links_name">Search</span>
                </a>
                <span class="tooltip">Search</span>
            </li>
            <li>
                <a href="country">
                    <i class="fa-solid fa-flag"></i>
                    <span class="links_name">Country</span>
                </a>
                <span class="tooltip">Country</span>
            </li>
            <li>
                <a href="region">
                    <i class="fa-solid fa-earth-americas"></i>
                    <span class="links_name">Region</span>
                </a>
                <span class="tooltip">Region</span>
            </li>
            <li>
                <a href="method-of-attack">
                    <i class='fa-solid fa-solid fa-bomb'></i>
                    <span class="links_name">Method of Attack</span>
                </a>
                <span class="tooltip">Method of Attack</span>
            </li>
            <li>
                <a href="#">
                    <i class='fa-solid fa-bullseye'></i>
                    <span class="links_name">Target</span>
                </a>
                <span class="tooltip">Target</span>
            </li>
            <li>
                <a href="terrorist-groups">
                    <i class='fa-solid fa-people-group'></i>
                    <span class="links_name">Terrorist Groups</span>
                </a>
                <span class="tooltip">Terrorist Groups</span>
            </li>
            <li>
                <a href="#">
                    <i class='fa-solid fa-gun'></i>
                    <span class="links_name">Weapons</span>
                </a>
                <span class="tooltip">Weapons</span>
            </li>
            <li>
                <a href="#">
                    <i class='fa-solid fa-cross'></i>
                    <span class="links_name">Deaths</span>
                </a>
                <span class="tooltip">Deaths</span>
            </li>
            <li>
                <a href="#">
                    <i class='fa-solid fa-cross'></i>
                    <span class="links_name">Deaths (U.S.)</span>
                </a>
                <span class="tooltip">Deaths (U.S.)</span>
            </li>
        </ul>
        <script src="../static/js/sidebar.js"></script>
    </div>


    <div class="content-in-page">

        <div class="row">
            <div class="col-12">
                <div class="title-content">
                    <htitle>Register</htitle>
                    <hr class="line">
                </div>
            </div>
        </div>


        <div class="containerRegister" style="align-items: flex-start; margin-top: 50px">
            <div class="left-image">
            <img src="../static/images/photo-2.jpg" alt=" Image" class="left-image image-mask ">
        </div>
            <div class="form-wrapper">
                <form id="registration-form"  method="POST" class="registration-form">

                    <div class="column">

                        <div class="input-wrapper">
                            <input type="text" id="firstname" placeholder="Prenume" required>
                            <span class="icon">&#9998;</span>

                        </div>
                    </div>
                    <div class="column">

                        <div class="input-wrapper">
                            <input type="text" id="lastname" placeholder="Nume" required>
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <input type="text" id="username" placeholder="Nume de utilizator" required>
                    </div>
                    <div class="input-wrapper">
                        <input type="email" id="email" placeholder="Adresa de email" required>
                    </div>
                    <div class="input-wrapper">
                        <input type="password" id="password" placeholder="Parola" required>
                    </div>
                    <div class="input-wrapper">
                        <input type="password" id="confirm-password" placeholder="Confirmă parola" required>
                    </div>
                    <div class="input-wrapper">
                        <input type="tel" id="phone" placeholder="Numar de telefon" required>
                    </div>
                    <div class="action-buttons">
                        <a style="margin-bottom: 5px" href="login" class="forgot-password">Ai deja un cont?</a>
                        <button type="submit" class="submit-btn">Înregistrează-te</button>
                    </div>
                </form>
            </div>

        </div>


    </div>

</div>


<div class="footer">
    <div class="bold-footer">
        <b>About us</b>
        <hr class="horizontal-line">
        <a href="about-us">
            <p class="other-info-footer"><i>Get in touch</i></p>
        </a>
    </div>
    <div class="bold-footer">
        <b>Terms</b>
        <hr class="horizontal-line">
        <a href="#">
            <p class="other-info-footer">Terms & Conditions</p>
        </a>
        <a href="#">
            <p class="other-info-footer">Privacy Policy</p>
        </a>
    </div>
    <div class="icons">
        <div><img src="../static/images/4logos.png" alt="social-media-logos"
                  class="social-media-logos"></div>
    </div>
</div>

</body>

</html>