<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terrorist Groups</title>
    <link rel="website icon" type="png" href="../static/images/logo.png">

    <script src="https://kit.fontawesome.com/0668abd750.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/css/responsive-page.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/sidebar.css">
    <link rel="stylesheet" href="../static/css/responsive-text-box.css">
    <link rel="stylesheet" href="../static/css/canvas.css">
    <link rel="stylesheet" href="../static/css/content-in-page.css">

    <script src="../static/js/export.js"></script>
</head>


<body>
    <div class="d-flex flex-column justify-content-center w-100 h-100">

        <div class="header">
            <div class="title">
                <div class="menu-bars">
                    <i class='fa-solid fa-bars' id="btn"></i>
                </div>
                <a href="home">
                    <img src="../static/images/logo.png" class="logo">
                </a>
                <a href="home" class="link-logo">
                    <p>International <b>Terrorism</b> Database</p>
                </a>
            </div>
            <div class="header-board">
                <nav>
                    <ul>
                        <li><a href="login"><button class="header-button header-button-left">Login</button></a>
                        </li>
                        <li>
                            <a href="register">
                                <button class="header-button header-button-right">Sign up</button>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>


        <div class="sidebar">

            <ul class="nav-list">
                <li>
                    <a href="search-page">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <span class="links_name">Search</span>
                    </a>
                    <span class="tooltip">Search</span>
                </li>
                <li>
                    <a href="country">
                        <i class="fa-solid fa-flag"></i>
                        <span class="links_name">Country</span>
                    </a>
                    <span class="tooltip">Country</span>
                </li>
                <li>
                    <a href="region">
                        <i class="fa-solid fa-earth-americas"></i>
                        <span class="links_name">Region</span>
                    </a>
                    <span class="tooltip">Region</span>
                </li>
                <li>
                    <a href="method-of-attack">
                        <i class='fa-solid fa-solid fa-bomb'></i>
                        <span class="links_name">Method of Attack</span>
                    </a>
                    <span class="tooltip">Method of Attack</span>
                </li>
                <li>
                    <a href="target">
                        <i class='fa-solid fa-bullseye'></i>
                        <span class="links_name">Target</span>
                    </a>
                    <span class="tooltip">Target</span>
                </li>
                <li>
                    <a href="terrorist-groups">
                        <i class='fa-solid fa-people-group'></i>
                        <span class="links_name">Terrorist Groups</span>
                    </a>
                    <span class="tooltip">Terrorist Groups</span>
                </li>
                <li>
                    <a href="weapons">
                        <i class='fa-solid fa-gun'></i>
                        <span class="links_name">Weapons</span>
                    </a>
                    <span class="tooltip">Weapons</span>
                </li>
                <li>
                    <a href="deaths">
                        <i class='fa-solid fa-cross'></i>
                        <span class="links_name">Deaths</span>
                    </a>
                    <span class="tooltip">Deaths</span>
                </li>
                <li>
                    <a href="deaths-us">
                        <i class='fa-solid fa-cross'></i>
                        <span class="links_name">Deaths (USA)</span>
                    </a>
                    <span class="tooltip">Deaths (USA)</span>
                </li>
            </ul>
            <script src="../static/js/sidebar.js"></script>
        </div>


        <div class="content-in-page">
            <div class="row">
                <div class="col-12">
                    <div class="title-content">
                        <htitle id="chart-title-in-page">Terrorist Groups</htitle>
                        <hr class="line">
                    </div>

                    <div class="btns-chart">
                        <div class="btns-bar">
                            <div class="btn-chart">
                                <img src="../static/images/treemap-chart.png" class="img-chart-icon" />
                                <div class="text-icons-chart" onclick="displayTreemapChart(document.title)">
                                    Treemap
                                </div>
                            </div>

                            <div class="btn-chart">
                                <img src="../static/images/line-graph.png" class="img-chart-icon" />
                                <div class="text-icons-chart" onclick="displayLineChart(document.title)">
                                    Line
                                </div>
                            </div>

                            <div class="btn-chart">
                                <img src="../static/images/pie-chart.png" class="img-chart-icon" />
                                <div class="text-icons-chart" onclick="displayPieChart(document.title)">
                                    Pie
                                </div>
                            </div>
                        </div>

                        <div class="btns-bar" id="export-buttons-container">
                            <div class="btn-chart">
                                <img src="../static/images/download.svg" class="img-chart-icon" />
                                <div class="text-icons-chart" onclick="exportChartToCSV(document.title)">
                                    CSV
                                </div>
                            </div>

                            <div class="btn-chart">
                                <img src="../static/images/download.svg" class="img-chart-icon" />
                                <div class="text-icons-chart" onclick="exportChartToPNG(document.title)">
                                    PNG
                                </div>
                            </div>

                            <div class="btn-chart">
                                <img src="../static/images/download.svg" class="img-chart-icon" />
                                <div class="text-icons-chart" onclick="exportChartToJSON(document.title)">
                                    JSON
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-content reverse-column">
                <div class="col-6" id="canvas1">
                    <div id="bring-pie-chart">
                        <canvas id="pieChart" style="width:100%; max-width:700px"></canvas>
                        <canvas id="doughnutChart" style="width:100%; max-width:700px"></canvas>
                        <script src="../static/js/pieChart.js"></script>
                    </div>

                    <div id="bring-line-chart">
                        <canvas id="lineChart" style="width:100%; max-width:700px"></canvas>
                        <script src="../static/js/lineChart.js"></script>
                    </div>

                    <div id="bring-treemap-chart">
                        <!-- SCRIPTS ADDED FOR TREEMAP -->
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                        <script
                            src="https://cdn.jsdelivr.net/npm/chartjs-chart-treemap@2.3.0/dist/chartjs-chart-treemap.min.js"></script>

                        <canvas id="treemap" style="width:100%; max-width:700px"></canvas>
                        <script src="../static/js/treemap.js"></script>
                    </div>
                </div>
                <div class="col-6">
                    <div class="side1">
                        <p class="text-content-side">
                            something: something
                        </p>
                        <p class="text-content-side">
                            something: something
                        </p>
                        <p class="text-content-side">
                            something: something
                        </p>
                    </div>
                </div>
            </div>

            <div class="side">
                <div class="row">
                    <div class="main-content reverse-column">
                        <div class="col-6">
                            <p class="text-content-side">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales elit dui, in
                                tincidunt felis auctor elementum. Etiam eleifend risus augue, at lacinia neque accumsan
                                vitae. Ut et purus non dui bibendum lacinia ac ac velit. Ut molestie est nunc, sed
                                sodales augue vehicula non. Pellentesque et sapien sit amet. </p>
                            <p class="text-content-side">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales elit dui, in
                                tincidunt felis auctor elementum. Etiam eleifend risus augue, at lacinia neque accumsan
                                vitae. Ut et purus non dui bibendum lacinia ac ac velit. Ut molestie est nunc, sed
                                sodales augue vehicula non. Pellentesque et sapien sit amet. </p>
                        </div>
                        <div class="col-6">
                            <div class="side1">
                                <div class="image-info">
                                    <img src="../static/images/photo-1.png" class="image-mask  image-mask-border">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="main-content">
                    <div class="col-6">
                        <div class="image-info">
                            <img src="../static/images/war-conflict.jpg" class="image-mask  image-mask-border">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="side1">
                            <p class="text-content-side">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales elit dui, in
                                tincidunt felis auctor elementum. Etiam eleifend risus augue, at lacinia neque accumsan
                                vitae. Ut et purus non dui bibendum lacinia ac ac velit. Ut molestie est nunc, sed
                                sodales augue vehicula non. Pellentesque et sapien sit amet.
                            </p>
                            <p class="text-content-side">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales elit dui, in
                                tincidunt felis auctor elementum. Etiam eleifend risus augue, at lacinia neque accumsan
                                vitae. Ut et purus non dui bibendum lacinia ac ac velit. Ut molestie est nunc, sed
                                sodales augue vehicula non. Pellentesque et sapien sit amet.
                            </p>
                            <p class="text-content-side">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales elit dui, in
                                tincidunt felis auctor elementum. Etiam eleifend risus augue, at lacinia neque accumsan
                                vitae. Ut et purus non dui bibendum lacinia ac ac velit. Ut molestie est nunc, sed
                                sodales augue vehicula non. Pellentesque et sapien sit amet.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="main-content reverse-column">
                    <div class="col-6">
                        <p class="text-content-side">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales elit dui, in
                            tincidunt felis auctor elementum. Etiam eleifend risus augue, at lacinia neque accumsan
                            vitae. Ut et purus non dui bibendum lacinia ac ac velit. Ut molestie est nunc, sed sodales
                            augue vehicula non. Pellentesque et sapien sit amet.
                        </p>
                        <p class="text-content-side">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales elit dui, in
                            tincidunt felis auctor elementum. Etiam eleifend risus augue, at lacinia neque accumsan
                            vitae. Ut et purus non dui bibendum lacinia ac ac velit. Ut molestie est nunc, sed sodales
                            augue vehicula non. Pellentesque et sapien sit amet.
                        </p>
                    </div>
                    <div class="col-6">
                        <div class="side1">

                            <div class="image-info">
                                <img src="../static/images/photo-3.jpg" class="image-mask  image-mask-border">
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>


    </div>

    <div class="row">
        <div class="col-12">
            <b style="color:transparent">space</b>
        </div>
    </div>
    </div>


    <div class="footer">
        <div class="bold-footer">
            <b>About us</b>
            <hr class="horizontal-line">
            <a href="about-us">
                <p class="other-info-footer"><i>Get in touch</i></p>
            </a>
        </div>
        <div class="bold-footer">
            <b>Terms</b>
            <hr class="horizontal-line">
            <a href="#">
                <p class="other-info-footer">Terms & Conditions</p>
            </a>
            <a href="#">
                <p class="other-info-footer">Privacy Policy</p>
            </a>
        </div>
        <div class="icons">
            <div><img src="../static/images/4logos.png" alt="social-media-logos" class="social-media-logos"></div>
        </div>
    </div>

    <script src="../static/js/0-charts-united.js"></script>

</body>

</html>