<!DOCTYPE html>
<html>
<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" href="../static/css/users.css">
</head>
<body>
<table id="userTable">
    <tr>
        <th>Nume de utilizator</th>
        <th>Email</th>
        <th>Actiuni</th>
    </tr>
</table>

<div id="confirmModal" class="modal">
    <div class="modal-content">
        <h2>Confirmare stergere</h2>
        <p>Esti sigur ca vrei sa stergi acest utilizator?</p>
        <button id="confirmDelete">Da</button>
        <button id="cancelDelete">Nu</button>
    </div>
</div>

<script src="../static/js/users.js"></script>
</body>
</html>
