header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #000;
  padding: 30px;
  z-index:20;
  weight: relative;
}

header h1 {
  font-size: 40px;
  margin: 0;
  color: #fff;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: 4px;
}

nav li:first-child {
  margin-left: 0;
}

button.header-button {
  display: inline-block;
  padding: 10px 30px;
  border: 3px solid #7048D5;
  border-radius: 29px;
  border-bottom: none;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button.header-button:hover {
  border: none;
  background: linear-gradient(to bottom, #7048D5, #000);
  color: #f1f1f1;
}

button.header-button-left {
  border-radius: 29px 0px 29px 29px;
}

button.header-button-right {
  border-radius: 29px 29px 29px 0;
}