body {
    min-height: 100vh;
    position: relative;
    background: radial-gradient(ellipse at bottom, #26282b 0%, #02030c 100%);
    background-size: cover;
    flex-direction: column;
    bottom: 0;
}

.content-in-page {
    position: relative;
    padding-top: 40px;
    left: 11.5%;
    display: flex;
    height: 100%;
    width: 85%;
    right: 0;
    /* background-color: magenta; */
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
}

.just-text {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    align-items: stretch;
    color: black;
}

.about-us-order {
    order: 2;
}

.contact-order {
    order: 3;
}

.image-order {
    order: 1;
}

div .image-about-us {
    width: 100%;
    height: auto;
}

.about-us {
    height: 20%;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 29px;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
    line-height: 2;
}

.get-in-contact {
    height: 40%;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 29px;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    line-height: 2;
}

/* images, text-side-for-the-images, title */

.title-content {
    padding-top: 5vh;
    flex-direction: column;
    text-align: center;
    position: relative;
    justify-content: center;
}

htitle {
    color: #fff;
    display: inline-block;
    text-align: center;
    width: max-content;
    font-size: 2vw;
    margin-bottom: 2vw;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.line {
    bottom: 0;
    background-color: #7048D5;
    border: 0.1vw solid #7048D5;
    border-radius: 100%;
    position: absolute;
    left: 30%;
    right: 30%;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}

.btns-chart {
    display: flex;
    flex-direction: column;
    /*the second bar goes below*/
    align-items: center;
    text-align: center;
    margin-top: 5vw;
    justify-content: center;
    align-items: center;
    color: #454449;
    font-size: 50%;
    padding: 5px;
}

.btns-bar {
    border: 1px solid #454449;
    border-radius: 29px;
    width: 21%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1vw;
}

/* added after partial */

.text-icons-chart:hover {
    cursor: pointer;
    font-size: 16px;
    color: #ccc;
    transition: all ease-in-out 0.5s;
}

#bring-line-chart,
#bring-pie-chart,
#bring-treemap-chart {
    display: none;
}

#export-buttons-container {
    display: none;
}

/* ending - added after partial - normal part begins */

.btn-chart {
    align-items: center;
    height: 1.5vw;
    font-size: 100%;
    display: flex;
}

.text-icons-chart {
    font-size: 14px;
    transition: all ease-in-out 0.5s;
    font-size: 14px;
    transition: all ease-in-out 0.5s;
}

.img-chart-icon {
    height: 65%;
    padding-right: 10%;
}

.little-line {
    size: 30px;
}

.side1 {
    position: relative;
}

.side1::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    background-color: #454449;
    border-radius: 60%;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}

.text-content-side {
    font-size: 50%;
    color: #fff;
    text-align: justify;
    flex-wrap: wrap;
    padding: 10px;
    text-align: center;
}

.side {
    position: relative;
}

.side::before {
    content: "";
    position: absolute;
    background-color: #454449;
    border-radius: 60%;
    box-shadow: 4px 1px 0 rgba(0, 0, 0, 0.2);
    left: 0;
    top: 0;
    width: 100%;
    height: 0.01vw;
}

.image-info {
    width: 100%;
    justify-content: center;
    display: flex;
}

.image-mask {
    width: 12vw;
    height: 12vw;
    padding: 1%;
    border-radius: 50%;
    object-fit: cover;
}

.image-mask-border {
    border: 1px solid #454449;
}

.picture {
    left: 0;
    width: 100%;
    height: auto;
}

.about-us {
    height: auto;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 29px;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
}

.get-in-contact {
    height: auto;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 29px;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}

.text-in-image {
    color: #fff;
    position: absolute;
    left: 8%;
    top: 10%;
    font-size: 35px;
    line-height: 3;
}

.image-about-us {
    display: flex;
    flex-direction: column;
}

.email {
    width: 200px;
    margin-top: 2vw;
    margin-right: 18px;
    font-size: 18px;

    background: transparent;
    border: none;
    border-bottom: 1.5px solid #000000;
    padding: 12px 20px;
    transition: all 1s ease-in-out;
    transition: width 1s ease-in-out;
}

.email:focus {
    outline: none;
    transition: all 1s ease-in-out;
    border: none;
    border-radius: 29px;
    background-color: #7048D5;
    color: #ffffffe3;
    width: 50%;
}

.email:focus::placeholder {
    transition: all 1s ease-in-out;
    color: #fff;
}

.email-info {
    font-size: 18px;
}

#submit-newsletter {
    text-align: center;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: transparent;
    border-radius: 29px;
    text-transform: uppercase;
    margin-right: 0;
    transition: all 0.5s;

    background-color: #7048D5;
    color: #fff;
    border: 1px solid #7048D5;

    font-size: 15px;
}

#submit-newsletter:hover {
    background-color: #7048d5e9;
    color: #fff;
    border: 1px solid #7048d5e4;
    transition: all 0.5s;
    cursor: pointer;
}

.title-info-about-us {
    color: #7048D5;
    font-weight: bold;
    font-style: oblique;
    font-size: 30px;
}

.title-get-in-contact {
    color: #7048D5;
    font-weight: bolder;
    font-style: oblique;
    font-size: 30px;
}

.text-info-about-us {
    font-size: 18px;
}

.email-position-in-page {
    text-align: center;
}

@media only screen and (max-width: 768px) {


    /*changing the font of all the page here, only for mobile version*/
    .title-get-in-contact {
        font-size: 18px;
    }

    .title-info-about-us {
        font-size: 18px;
    }

    .text-info-about-us {
        font-size: 14px;
        line-height: 1;
    }

    .text-in-image {
        left: 15px;
        top: 10%;
        font-size: 16px;
        line-height: 1.8;
    }

    .email-info {
        font-size: 14px;
    }

    .email {
        margin-bottom: 10px;
        width: 100%;
        font-size: 14px;
    }

    .email:focus {
        width: 100%;
    }

    #submit-newsletter {
        font-size: 13px;
    }
}