.terrorist-act-card {
  width: 450px;
  height: 210px;
  border: #454449 solid 1px;
  color: white;
  background-color: #1d2028;
  border-radius: 10px;
  text-align: center;

  padding: 10px;

  line-height: 30px;

  box-shadow: -1px 1px 53px -5px rgba(0, 0, 0, 0.69);
  -webkit-box-shadow: -1px 1px 53px -5px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: -1px 1px 53px -5px rgba(0, 0, 0, 0.69);
}

.display-card-properties {
  display: grid;
  grid-template-columns: auto auto;
  line-height: 40px;
}

#countrySearchInput {
  width: 20%;
  background-color: transparent;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #999999;
  transition: box-shadow 0.3s ease;
  color: #FFFFFF;
}

#countrySearchInput:focus {
  outline: none;
  box-shadow: 0 0 15px #7048D5;

}

.horizontal-line-in-cards {
  width: 200px;
  color: #454449;
}

.vertical-line-in-cards {
  height: 50px;
  width: 1px;
}


/* -------------------------------------- */

#all-cards-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 350px;
  height: 210px;
  border: #454449 solid 1px;
  color: aliceblue;
  background-color: #1d2028;
  border-radius: 10px;
  text-align: center;

  padding: 10px;
  margin: 10px;

  line-height: 20px;

  box-shadow: -1px 1px 53px -5px rgba(0, 0, 0, 0.69);
  -webkit-box-shadow: -1px 1px 53px -5px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: -1px 1px 53px -5px rgba(0, 0, 0, 0.69);

  display: grid;
  grid-template-columns: auto auto;
  text-align: center;

  justify-content: center;
  /* Center the grid horizontally */
  align-items: center;
}

.save-card {
  background-color: #7048D5;
  padding: 5px;
  border-radius: 20px;
  margin: 5px;
  color: aliceblue;
  transition: all 0.5s;
}

.save-card:hover {
  cursor: pointer;
  font-size: 18px;
  transition: all 0.5s;
}

.more-detail-for-card {
  width: 600px;
  color: aliceblue;
  line-height: 24px;

  padding: 20px;
  margin: 10px;

  border: #454449 solid 3px;
  border-radius: 20px;

  box-shadow: -1px 1px 53px -5px rgba(0, 0, 0, 0.69);
  -webkit-box-shadow: -1px 1px 53px -5px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: -1px 1px 53px -5px rgba(0, 0, 0, 0.69);

  text-align: center;
}

.fa-xmark {
  color: aliceblue;
  font-size: 25px;
  margin-left: 90%;
}

.fa-xmark:hover {
  cursor: pointer;
  font-size: 26px;
}

#see-more-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  text-align: center;
  width: 100%;
}

.pagination-pages {
  padding: 10px;
}

.pagination-pages:hover {
  cursor: pointer;
  background-color: #7048D5;
}

/* ------------------------------------------------------- */

.filters-options {
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;

  margin: 5px;
}

/* input[type="checkbox"] {
  Add if not using autoprefixer
  -webkit-appearance: none;
  appearance: none;
  For iOS < 15 to remove gradient background
  background-color: #fff;
  Not removed via appearance
  margin: 0;
  border: 7px solid white;

  display: grid;
  place-content: center;
} */
/* 
input[type="checkbox"]::before {
  content: "";
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);

  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
} */

/* ---------------------------------------------------- */

#attackTypeFilterContainer, #countryFilterContainer {
  width: 400px;
  height: 100px;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7048D5;
  border-radius: 10px;
}

.fa-eye, .fa-lock-open {
  font-size: 22px;
  transition: all 0.5s;
}

.fa-eye:hover, .fa-lock-open:hover {
  cursor: pointer;
  color: #7048D5;
  font-size: 21px;
  transition: all 0.5s;
}

.fa-lock {
  color: #7048D5;
  font-size: 22px;
}