.terrorist-act-card {
  width: 450px;
  height: 210px;
  border: #454449 solid 1px;
  color: white;
  background-color: #1d2028;
  border-radius: 10px;
  text-align: center;

  padding: 10px;

  line-height: 30px;

  box-shadow: -1px 1px 53px -5px rgba(0, 0, 0, 0.69);
  -webkit-box-shadow: -1px 1px 53px -5px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: -1px 1px 53px -5px rgba(0, 0, 0, 0.69);
}

.display-card-properties {
  display: grid;
  grid-template-columns: auto auto;
  line-height: 40px;
}

.horizontal-line-in-cards {
  width: 200px;
  color: #454449;
}

.vertical-line-in-cards {
  height: 50px;
  width: 1px;
}


/* -------------------------------------- */

#all-cards-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 350px;
  height: 210px;
  border: #454449 solid 1px;
  color: aliceblue;
  background-color: #1d2028;
  border-radius: 10px;
  text-align: center;

  padding: 10px;
  margin: 10px;

  line-height: 20px;

  box-shadow: -1px 1px 53px -5px rgba(0, 0, 0, 0.69);
  -webkit-box-shadow: -1px 1px 53px -5px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: -1px 1px 53px -5px rgba(0, 0, 0, 0.69);

  display: grid;
  grid-template-columns: auto auto;
  text-align: center;

  justify-content: center; /* Center the grid horizontally */
  align-items: center;
}

.fa-computer-mouse {
  color: aliceblue;
  font-size: larger;
  transition: all 0.5s;
}

.fa-computer-mouse:hover {
  cursor: pointer;
  color: #7048D5;
  transition: all 0.5s;
}

.see-more-details {
  transition: all 0.5s;
}

.see-more-details:hover {
  cursor: pointer;
  font-size: 17px;
  transition: all 0.5s;
}

.more-detail-for-card {
  width: 600px;
  color: aliceblue;
  line-height: 24px;

  padding: 20px;
  margin: 10px;

  border: #454449 solid 3px;
  border-radius: 20px;

  box-shadow: -1px 1px 53px -5px rgba(0, 0, 0, 0.69);
  -webkit-box-shadow: -1px 1px 53px -5px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: -1px 1px 53px -5px rgba(0, 0, 0, 0.69);

  text-align: center;
}

.fa-xmark {
  color: aliceblue;
  font-size: 25px;
  margin-left: 90%;
}

.fa-xmark:hover {
  cursor: pointer;
  font-size: 26px;
}

#see-more-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
}