.country {
    stroke: #000000;
    stroke-width: 0.3px;
}

#map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 80vh; /* Adjust the value as needed */
    overflow: auto;
    margin: 0 auto; /* Center the container horizontally */
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    font-family: Source Sans Pro, sans-serif;
    font-size: 12px;
    font-weight: bold;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    pointer-events: none;
}

/* Add the following CSS for mobile devices */
@media only screen and (max-width: 600px) {
    #map-container {
        height: 30vh;
    }
}
