footer {
  height: 3vw;
  bottom: 0;
  left: 0;
  right: 0;
  width: 1fr;
  background: #EEEEEF;
}

#footer {
  font-family: Source Sans Pro, sans-serif;
  font-size: 10px;
  display: flex;
  color: #000000;
  justify-content: right;
  text-align: center;
}


#footer .bold-footer {
  width: 10vw;
  margin-right: 3vw;  
}

.horizontal-line {
  width: 10vw;
  background-color: black;
  height: 1px;
}
.icons{
  float: right;
  margin-right: 6%;
}

.gmail-logo {
  
  height: 2vw;
}

.twitter-logo {
  
  height: 2vw;
}

.facebook-logo {
  height: 2vw;
}

.instagram-logo {
  height: 2vw;
}